@model Mvc_Stok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="20"/>
    </div>
    <br />
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA"required="" />
    </div>
    <br />
    <div>
        <label>Ürün Kategori</label>
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" } )
    </div>
    <br />
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <br />
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <br />
    <div style="margin-top=15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>

</form>

