@using Mvc_Stok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b> Aranacak Müşteri Adı:</b>@Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>MÜSTERİ ID</th>
        <th>MÜSTERİ AD</th>
        <th>MÜSTERİ SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var musterı in Model)
        {
            <tr>
                <th>@musterı.MUSTERIID</th>
                <td>@musterı.MUSTERIAD</td>
                <td>@musterı.MUSTERISOYAD</td>
                <td><a href="/MUSTERI/SIL/@musterı.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/MUSTERI/MusteriGetir/@musterı.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                <td>@Html.ActionLink("SİL BUTONU","SIL",new {id=musterı.MUSTERIID },new {@class="btn btn-warning", onclick="return confirm('Gerçekten Silmek İstiyormusunuz')" })</td>
            </tr>
        }
    </tbody>

</table>
<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
