
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanıtım Sitem</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        

        


            

        section {
            padding: 2em;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }
    </style>
</head>
<body>
    <header>
        <h1> Yardım Sayfasına Hoş Geldiniz!</h1>
        <p>İhtiyaçlarınıza Özel Çözümler</p>
    </header>

   

    <section id="about">
        <h2>Hakkımızda</h2>
        <p>Ürünleriniz stok takibi sağlanır!</p>
    </section>

    <section id="services">
        <h2>Hizmetlerimiz</h2>
        <ul>
            <li>Stok Takip</li>
            <li>Ürün Ekleme Arama Güncelle Silme</li>
            <li>Ürün Tanıtım</li>
        </ul>
    </section>

    <section id="contact">
        <h2>İletişim</h2>
        <p>Email: info@example.com</p>
        <p>Telefon: +90 123 456 789</p>
    </section>

    <footer>
        <p>&copy; MVC STOK TAKİP</p>
    </footer>
</body>
</html>
